#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-logo {
  width: 150%;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}


nav{
  z-index: 10001;
}


.book-container{
  position: relative;
  margin-left: 10px;
}

.navbar {
  max-width: 1100px;
  padding: 20px 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


nav ul li {
  padding: 0.6em 1.1em;
  display: inline-block;
}

nav ul li a{
  color: #000;
  font-weight: 600;
}

.nav-link {
  transition: 0.5s;
}

.nav-link:hover {
  color: #F4CE14;
}

.hamburgerMenu {
  display: none;
  cursor: pointer;
}

.btn-light {
  background-color: #F4CE14;
  border-radius: 207px;
  transition: 0.5s;
}

.btn-light:hover {
  background-color: #FBDABB ;
}
